App_Website_URL="https://github.com/CyrusEsfahani/group-2-project"
Client_ID="2y2rQpy8nGnZ5hiYhm8sSvKSpTv1bjovFjM4onJGZnn7J3Urh2BndOpprT0O8MT1"
Client_Secret="mIdDtlwEI12zRduCVyTviCOXJWIau7hVnyi5AhrSBh4LAU6O5ed_bywdh9XHZtAd1D2OqZKS5IoSHHL1-hAWuw"
GENIUS_API="rj9bgsswqjaJCmeOmg70zKXqzfrniMRkr0_MIbPXOGf4J063qODHQ0iELQtxIT2G"